/* sheared-style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* main-style */
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
nav {
    width: 100%;
    max-width: 1920px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px; 
    box-sizing: border-box;
}
.nav-logo {
    display: flex;
    align-items: center;
}
.btn {
    background-color: #469165;
    border-radius: 4px;
    padding: 12.5px 24px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: #06b650;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding: 0;
}